body{
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}


 /* ===== MENU CLICK SYSTEM ===== */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 19px;
  font-style: arial;
}
 .menu {
  position: relative;
}

/* MENU BUTTON */
.menu-name {
  cursor: pointer;
  position: relative;
}

/* LINE UNDER MENU */
.menu-name .line {
  width: 0;
  height: 1px;
  background: white;
  transition: 0.3s;
}

.menu-name:hover .line {
  width: 100%;
}

/* CHILD NAV (hidden by default) */
.child-nav {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  gap: 40px;
  align-items: center;
}

/* SHOW MENU */
.menu.active .child-nav {
  display: flex;
}

/* HIDE MENU TEXT */
.menu.active .menu-name {
  display: none;
}

/* NAV LINKS */
.child-nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  position: relative;
}

/* LINE UNDER EACH OPTION */
.child-nav a .line {
  width: 0;
  height: 1px;
  background: white;
  margin-top: 4px;
  transition: 0.3s;
}

.child-nav a:hover .line {
  width: 100%;
}


/* ================== BUTTON ================== */

.website .button button{
  color: white;
  padding: 6px 25px;
  background-color: black;
  border-radius: 20px;
  border: 1px solid white;
  margin: 30px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.website .button button:hover{
  background-color: white;
  color: black;
}


/* ================== FOOTER ================== */
.website .footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 300px;
  margin-top: 100px;
  margin-left: 130px;
}

.website .footer .image img{
  width: 180px;
  height: 180px;
}

.website .footer .box{
  font-size: 20px;
}

.website .footer .box button{
  color: white;
  padding: 6px 15px;
  background-color: black;
  border-radius: 20px;
  border: 1px solid white;
  margin-top: 30px;
   cursor: pointer;
  transition: all 0.3s ease;
}

.website .footer .box button:hover{
  background-color: white;
  color: black;
}


/* ================== LINKS ================== */
.website .links{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 100px;
}

.website .links ul{
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 18px;
  font-weight: bold;
}

/* ================== HR ================== */
hr{
  border: none;
  height: 1px;
  background: #333;
  margin: 20px 0;
}
/* ================== HEADING ================== */
.website .heading{
  display: flex;
  justify-content:space-between;
  padding: 20px;
}
.website .heading .work{
  font-size: 120px;
  font-style: arial;
  color: gray;
}

 .website .heading .view-toggle {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  border: 1px solid white;
  border-radius: 30px;
  overflow: hidden;
}

.website .heading .view-toggle .toggle-btn {
  padding: 6px 15px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.website .heading .view-toggle .toggle-btn.active {
  background: white;
  color: black;
}



/* ===== CUSTOM CURSOR DOT ===== */
.cursor-dot {
  position: fixed;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

/* ===== CURSOR CIRCLE ===== */
.cursor-circle {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease;
   mix-blend-mode: difference;
}
.cursor-circle {
  background: white;
  border: none;
}

/* ================== PROJECT HEADINGS (ALL) ================== */
.website .main-headings-project{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  padding: 20px;
}

.website .main-headings-project .box1{
  font-size: 100px;
  font-weight: bold;
  color: gray;
  cursor: none;
  transition: color 0.3s ease;
}

.website .main-headings-project:hover .box1{
  color: white;
}

.website .main-headings-project .box2{
  font-size: 20px;
  color: white;
  margin-top: 40px;
}

/* ================== HOVER IMAGE CARD ================== */
.hover-card{
  position: fixed;
  width: 460px;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.8s ease;
  pointer-events: none;
  z-index: 99;
}

.hover-card img{
  width: 100%;
  border-radius: 14px;
}



/* ===== Page Fade-in from Bottom ===== */
.fade-page {
  opacity: 0;
}

.fade-page.active {
  opacity: 1;
  transition: opacity 2s ease;
}
